.sidebar
  width: 350px
  padding: 15px

.sidebar
  a
    color: black
    text-decoration: none
  textarea
    resize: none
    box-sizing: border-box
    width: 100%
    font-style: italic
  .unclicked
    padding: 3px

.status
  height: 85px

.save
  a
    color: #1B81D3


